:root {
  --dark-mode: black;
  --space-height: 13%;
  --spacing-style: space-around;
}
body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-mode);
}
#board {
  position: absolute;
  width: 100vh;
  height: 100vh;
  aspect-ratio: 1/1;
}
/* styling for board spaces to be where they're supposed to be */
.bottom,
.top {
  position: absolute;
  width: 100%;
  height: var(--space-height);
  display: flex;
  flex-direction: row;
}
.bottom {
  top: calc(100% - var(--space-height));
  flex-direction: row-reverse;
}
.left,
.right {
  position: absolute;
  height: 100%;
  width: var(--space-height);
  display: flex;
  flex-direction: column-reverse;
}
.right {
  left: calc(100% - var(--space-height));
  flex-direction: column;
}
.spaces {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-color: beige;
}
/* styling for players on non-corner spaces */
.left .container,
.right .container {
  position: absolute;
  display: flex;
  flex-flow: row;
  width: 80%;
  height: calc((100% - 2 * var(--space-height)) / 8);
  opacity: 75%;
  z-index: 3;
  margin: 0px;
}
.top .container,
.bottom .container {
  position: absolute;
  display: flex;
  flex-flow: column;
  height: 80%;
  width: calc((100% - 2 * var(--space-height)) / 8);
  opacity: 75%;
  z-index: 3;
}
/* styling for corner players */
.top .corner .container,
.bottom .corner .container {
  position: absolute;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: calc((100% - 8 * calc((100% - 2 * var(--space-height)) / 8)) / 2);
  opacity: 75%;
  z-index: 3;
}
.left .corner .container,
.right .corner .container {
  position: absolute;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: calc((100% - 8 * calc((100% - 2 * var(--space-height)) / 8)) / 2);
  opacity: 75%;
  z-index: 3;
}
.left .spaces,
.right .spaces {
  width: 100%;
}
/* styling for corner cards */
.bottom .corner,
.top .corner {
  height: 100%;
}
.left .corner,
.right .corner {
  width: 100%;
}
.left .corner::before,
.right .corner::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.corner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  aspect-ratio: 1/1;
  background-color: orangered;
}
.start {
  z-index: 1;
}
.corner img {
  height: 100%;
  width: 100%;
}
/* styling for color coded cards */
.top .spaces::before,
.top .spaces::after,
.bottom .spaces::before,
.bottom .spaces::after {
  content: "";
  height: 10%;
  width: calc((100% - 2 * var(--space-height)) / 8);
  position: absolute;
}
.left .spaces::before,
.right .spaces::before {
  content: "";
  height: calc((100% - 2 * var(--space-height)) / 8);
  width: 10%;
  left: 10%;
  position: absolute;
}
.left .spaces::after,
.right .spaces::after {
  content: "";
  height: calc((100% - 2 * var(--space-height)) / 8);
  width: 10%;
  left: 90%;
  position: absolute;
}
/* for cards color coding */
.left .spaces::before,
.right .spaces::before {
  left: 0px;
}
.left .spaces::after,
.right .spaces::after {
  right: 0px;
}
.top .spaces::before,
.bottom .spaces::before {
  top: 0px;
}
.top .spaces::after,
.bottom .spaces::after {
  bottom: 0px;
}
.corner .player {
  max-width: 100%;
  height: 100%;
}
.left .player,
.right .player {
  width: 100%;
}
.purple::before,
.purple::after {
  background-color: purple;
}
.brown::before,
.brown::after {
  background-color: brown;
}
.silver::before,
.silver::after {
  background-color: silver;
}
.seagreen::before,
.seagreen::after {
  background-color: seagreen;
}
.white::before,
.white::after {
  background-color: white;
}
.skyblue::before,
.skyblue::after {
  background-color: skyblue;
}
.gold::before,
.gold::after {
  background-color: gold;
}
.orangered::before,
.orangered::after {
  background-color: orangered;
}
/* for mobile view */
@media (0px < width < 1080px) {
  body {
    font-size: xx-small;
  }
}
/* styles for dice */
.dice {
  position: absolute;
  height: var(--space-height);
  aspect-ratio: 1/1;
  background-color: whitesmoke;
  border-radius: 10px;
  left: calc(100% - var(--space-height) / 2);
}
.dice::before {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "Dice";
}
/* style for header */
.header{
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: var(--space-height);
  left: 48%;
  top: calc(100% - var(--space-height));
}
/* style for button elements */
.button{
  display: none;
  height: 50%;
  width: auto;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 999em;
  background-color: aqua;
}
.button::before{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy::before{
  content: "Buy";
}
.borrow::before{
  content: "Borrow";
}
.sell::before{
  content: "Sell";
}
.payback::before{
  content: "Payback";
}